<div fxFlex fxFlex.gt-sm="482px">
<md-card fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="!signInStatus; else signedInTemplate" fxLayoutAlign="center center">
    <span>You are not signed in.</span>
  </div>
  <ng-template #signedInTemplate>
    <div fxLayout="column" fxLayoutAlign="center center">
      <span>You are signed in with phone number: {{signedInPhoneNumber}}</span>
      <button id="signout" md-raised-button color="accent" (click)="signOut()">Sign Out</button>
    </div>
  </ng-template>
</md-card>
<md-card fxLayout="column">
  <md-card-title fxLayoutAlign="center center">
    Phone number authentication
  </md-card-title>
  <md-card-content fxLayout="column" fxLayoutAlign="none end">
    <md-input-container>
      <input mdInput type="text" required placeholder="Phone number (example +17203347437)" name="phoneNumber" [(ngModel)]="phoneNumber">
    </md-input-container>
    <div id="recaptcha-container"></div>
    <button md-raised-button color="primary" (click)="onPhoneNumberSubmit(phoneNumber)">Send code</button>

    <md-input-container>
      <input mdInput type="text" required placeholder="Confirmation code" name="confirmationCode" [(ngModel)]="confirmationCode">
    </md-input-container>
    <button md-raised-button color="accent" (click)="onConfirmationCodeSubmit(confirmationCode)">SignIn</button>
  </md-card-content>  
</md-card>
</div>
