<md-card fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="!signInStatus; else signedInTemplate" fxLayoutAlign="center center">
    <span>You are not signed in.</span>
  </div>
  <ng-template #signedInTemplate>
    <div fxLayout="column" fxLayoutAlign="center center">
      <span>You are signed in with phone number: {{signedInPhoneNumber}}</span>
      <button md-raised-button color="accent">Sign Out</button>
    </div>
  </ng-template>
</md-card>
<md-card>
  <div id='recaptcha-container'></div>
</md-card>
